@namespace Frontend.Client.Components
@page "/context"
@using System
@using System.Net
@inject IJSRuntime JSRuntime

<div >
    <ul>
        <li @onclick="MessageUser">Message</li>
        <li @onclick="MuteUser">Mute</li>
        <li @onclick="BanUser">Ban</li>
        <li @onclick="ViewIpUser">View IP</li>
        <li @onclick="IpBanUser">IP Ban</li>
    </ul>
</div>

@code {

    public async void MessageUser()
    {
        return;
    }

    public async void MuteUser()
    {
        return;
    }

    public async void BanUser()
    {
        return;
    }

    public async void ViewIpUser()
    {
        return;
    }

    public async void IpBanUser()
    {
        return;
    }
}

<style>
    .contextMenuDiv {
        position: absolute;
        z-index: 1000;
        background-color: #D9D9D9;
        color: #111111;
        border: solid 1px;
        border-radius: 6px;
        font-weight: bold;
        width: 13rem;
    }

    .hideContextMenu {
        display: none;
    }


    .contextMenuDiv li {
        list-style:none;
        width: max-content;
        list-style: none;
        margin-bottom: 7px;
    }

    .contextMenuDiv li:hover {
        cursor: pointer;
    }
</style>