@namespace Frontend.Client.Components
@using Frontend.Client.Models
@inject IJSRuntime JSRuntime

<div class="message">
    <div class="message-header">
        <span class="user" @oncontextmenu="e => ContextMenuService.ShowContextMenu(e, JSRuntime)" @oncontextmenu:preventDefault="true">@User</span>
        <span class="timestamp">@Timestamp</span>
    </div>
    <div class="message-content">
        @MessageContent
    </div>
</div>

@code {
    [Parameter]
    public string? User { get; set; }

    [Parameter]
    public string? MessageContent { get; set; }

    [Parameter]
    public DateTime Timestamp { get; set; }

    [Parameter]
    public bool IsConfirmed { get; set; }

}

<style>
    .message {
        align-items: center;
        color: white;
        background-color: #333333;
        padding: 10px;
        border-radius: 6px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-all;
    }

    .message-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    .user {
        color: #1E90FF;
    }

    .user:hover{
        text-decoration:underline;
        cursor:pointer;
    }

    .timestamp {
        color: #6c757d;
        font-size: 0.9em;
    }

    .message-content {
        white-space: pre-wrap;
    }
</style>

