@page "/dm"
@using Models
@inject NavigationManager navMan

<button class="dmChatButton" @onclick="backToMain"><span class="dmChatButtonArrow">&lt;</span> Main Chat </button>
<div class="chatMessageDiv">
    <ul class="messageUl">
        @* messages to be displayed here when rendered *@
        <li>Sample message</li>
        <li>Sample message</li>
        <li>Sample message</li>

    </ul>
</div>

<div class="messageForm">
    <InputText class="textBox" id="enterMessageBox" placeholder="Message the Chat!" @bind-Value="textMessage.messageText"></InputText>
    <button class="sendMessageButton">➤</button>
</div>

@code {

    public TextMessageInterface textMessage { get; set; } = new()
        {
            messageText = string.Empty,
        };


    // Currently the function is not working,there is a problem with the interactivity settings of the frontend it seems,needs extra digging into documentation,time didn't serve, to be fixed soon.
    public void backToMain()
    {
        navMan.NavigateTo("login");

    }


}