@page "/"
@page "/login"
@using Models
@using System.Net.WebSockets
@using System.Net
@inject NavigationManager NavigationManager


<PageTitle>login</PageTitle>
<div class="login-div">
    <h1>WELCOME TO LDEV:THE REMASTER</h1>
    <h1>JOIN CHAT ROOM</h1>
    @* for the IP address field there needs to be validation where either the user gets an error upon entering
    something that does not represent an ip *@
    <div class="login-items-div">
        <div class="input-group">
            <label for="username">USERNAME</label>
            <InputText class="login-input" id="username" @bind-Value="userInfo.username" />
        </div>
        <div class="input-group">
            <label for="ip">IP ADDRESS</label>
            <InputText class="login-input" id="ip" @bind-Value="userInfo.ip" />
        </div>
        <div class="input-group">
            <label for="port">PORT</label>
            <InputNumber class="login-input no-arrows" id="port" @bind-Value="userInfo.port" />
        </div>
        <button class="login-button" @onclick=" HandleLogin">JOIN</button>
        <div class="loginError">
            @foreach (string error in errorMesages)
            {
                <p>@error</p>
            }
        </div>
    </div>
</div>

@code
{
    private ClientWebSocket? _webSocket;
    public LoginInfo userInfo { get; set; } = new LoginInfo();
    List<string> errorMesages = new List<string>();

    public async Task HandleLogin()
    {
        errorMesages.Clear();

        if (userInfo.username.Length < 1)
        {
            errorMesages.Add("Error: User is invalid");
        }

        if (userInfo.ip != "localhost" && !IPAddress.TryParse(userInfo.ip, out _))
        {
            errorMesages.Add("Error: IP is invalid");
        }

        if (!userInfo.port.HasValue && !(userInfo.port >= 0 && userInfo.port <= 65535))
        {
            errorMesages.Add("Error: Port is invalid");
        }

        if (errorMesages.Count > 0)
        {
            return;
        }

        try
        {
            await ConnectWebSocket("ws://" + userInfo.ip + ":" + userInfo.port);
            NavigationManager.NavigateTo("main-page");

        }
        catch (Exception ex)
        {
            Console.WriteLine("WebSocket connection error: " + ex.Message);
        }
    }

    private async Task ConnectWebSocket(string url)
    {
        _webSocket = new ClientWebSocket();
        await _webSocket.ConnectAsync(new Uri(url), CancellationToken.None);
        await SendMessage(userInfo.username + " is Connected!");
        Console.WriteLine("CONNECTED");
    }

    private async Task SendMessage(string message)
    {
        if (_webSocket != null && _webSocket.State == WebSocketState.Open)
        {
            byte[] buffer = System.Text.Encoding.UTF8.GetBytes(message);
            ArraySegment<byte> segment = new ArraySegment<byte>(buffer);

            await _webSocket.SendAsync(segment, WebSocketMessageType.Text, true, CancellationToken.None);
        }
        else
        {
            Console.WriteLine("WebSocket is not connected!");
        }
    }
}