@page "/"
@page "/login"
@using Models

<PageTitle>login</PageTitle>
<div class="login-div">
    <h1>WELCOME TO LDEV:THE REMASTER</h1>
    <h1>JOIN CHAT ROOM </h1>
    <EditForm Model="@userInfo" FormName="loginForm" class="login-form">
        @* for the IP address field there needs to be validation where either the user gets an error upon entering
        something that does not represent an ip *@
        <div class="login-items-div">
            <div class="input-group">
                <label for="username">USERNAME</label>
                <InputText class="login-input" id="username" @bind-Value="userInfo.Username" />
            </div>
            <div class="input-group">
                <label for="ip">IP ADDRESS</label>
                <InputText class="login-input" id="ip" @bind-Value="userInfo.Ip" />
            </div>
            <button type="submit">JOIN</button>
        </div>
    </EditForm>
</div>


@code
{
    
    public LoginInfo userInfo { get; set; } = new()
        {
            Username = string.Empty,
            Ip = string.Empty,
        };
    public void handleLogin()
    {
        // code to handle the user login info and send it to the server


    }
}